@font-face {
font-family: Mario;
src: url('SuperMario256.ttf');
}

body{
	background-image: url('https://cdn.hipwallpaper.com/i/55/85/KZE37L.gif?fbclid=IwAR3Qibb-mvafamzg0Tg5KNRkm0Jw2pFE2yV1LJ2vUOemv90yA7sU_jBl1W0');
	background-repeat: no-repeat;
  background-size: 1920px;
  font-family: cursive;
}

#Cabezera{
	position: absolute;
	font-family: Mario;
	color: white;
	top: 5px;
	left: 5%;
	width:90%;
	height: 80px;
}

#Tablero{
	position: absolute;
	width:90%;
	top: 100px;
	left: 5%;
	border-radius: 10px 10px 0px 0px;
}

thead{
	background-color: black;
}

#Tablero thead{
	color: white;
	text-align: center;
}

#Tablero thead td{
	height: 50px;
}

#Cuerpo{
	 width:98.3%;
	 height: 700px;
	 border-top: 0px;
	 top: 50px;
	 left: 0px;
}

#Pie{
	position: absolute;
	top: 850px;
	left: 5%;
	width:90%;
	height: 80px;
}



/* =========================================================================================== */


/* =========================================================================================== */


