#Cuerpo{
	background-image: url('M.png');
	background-size: 70px;
}




#Tabla_Nav{

	position: absolute;
	top: 9%;
	background-color: #4D5656;
	left: 2%;
	width:8%;
	height: 87%;
	border-radius: 15px 0px 0px 15px;
}

#Tabla_Nav tr td{
	color: white;
	height: 100px;
	text-align: center;
}

#Tabla_Nav tr td img{
	transition: transform .2s;
}

#Tabla_Nav tr td img:hover{
	transform: scale(1.2);
	cursor: pointer;
}

#M,#L,#P,#T,#B{
	position: absolute;
	top: 9%;
	left: 10%;
	width:88%;
	height: 87%;
	overflow: auto;
	background: #B3B6B7;
	border-radius: 0px 15px 15px 0px;
}

#Tabla_Info #Img_Logo{
	height: 400px;
	width: 300px;
}
